@{
    ViewBag.Title = "About";
}

<section class="AboutSection">
    <div class="AboutDiv">
        <img src="~/images/work-3.jpg"
             class="AboutImg"
             alt="" />
    </div>

    <div class="AboutContent">
        <h2>Lorem, ipsum.</h2>

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            aut nihil voluptate placeat excepturi nobis? Eos accusamus beatae,
            tenetur culpa labore, atque possimus nulla similique accusantium
            voluptatem eveniet natus eum!
        </p>

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicin Lorem
            ipsum dolor sit, amet consectetur adipisicin
            Lorem ipsum dolor sit, amet consectetur adipisicin us!
            Lorem ipsum dolor sit, amet consectetur adipisicin create.
        </p>
    </div>
</section>