@{
    ViewBag.Title = "Home Page";
}

<section class="section">
    <div class="content">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            aut nihil voluptate placeat
        </p>
    </div>
    <div class="bigDiv">
        <div class="smallDiv">
            <img src="~/Images/1.jpg"
                 class="Imge"
                 alt="" />
            <h3>Lorem ipsum</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
                aut nihil voluptate placeat excepturi nobis? Eos accusamus beatae,
                tenetur culpa labore, atque possimus nulla similique accusantium
                voluptatem eveniet natus eum!
            </p>
        </div>
        <div class="smallDiv">
            <img src="~/images/2.jpg"
                 class="Imge"
                 alt="" />
            <h3>Lorem ipsum</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
                aut nihil voluptate placeat excepturi nobis? Eos accusamus beatae,
                tenetur culpa labore, atque possimus nulla similique accusantium
                voluptatem eveniet natus eum!
            </p>
        </div>
        <div class="smallDiv">
            <img src="~/images/5.jpg"
                 class="Imge"
                 alt="" />
            <h3>Lorem ipsum</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
                aut nihil voluptate placeat excepturi nobis? Eos accusamus beatae,
                tenetur culpa labore, atque possimus nulla similique accusantium
                voluptatem eveniet natus eum!
            </p>
        </div>
    </div>
</section>